@page "/"
@inject NavigationManager NavManager
<PageTitle>Home</PageTitle>

<h1>Welcome in Shopping List App!</h1>

<button @onclick="RedirectToOtherPage">change page</button>

@code {

    private void RedirectToOtherPage() {
        var url = "/OtherPage";
        NavManager.NavigateTo(url);
    }

}